.about__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 235px;

  @include vp-1199 {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 102px;
    padding-bottom: 183px;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 70px;
    padding-left: 0;
    padding-right: 0;
  }
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 9px 60px 0;

  @include vp-1199 {
    justify-content: flex-start;
    margin: 0 0 33px;
    padding-right: 45px;
    padding-left: 53px;
  }

  @include vp-767 {
    align-items: flex-start;
    margin-bottom: 23px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.about__text h2 {
  margin-top: 0;
  margin-bottom: 8px;

  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-bottom: 0;
    margin-right: 22px;

    font-size: 42px;
    line-height: 48px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 5px;
    margin-right: 0;

    font-size: 32px;
    line-height: 38px;
    text-align: left;
  }
}

.about__text strong {
  display: block;
  margin-bottom: 35px;

  font-size: 18px;

  @include vp-1199 {
    margin-bottom: 34px;

    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 24px;

    text-align: left;
    letter-spacing: -0.01em;
  }
}

.about__text p {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 300;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include vp-1199 {
    text-align: center;
  }

  @include vp-767 {
    text-align: left;
  }
}

.about__text p:not(:first-of-type) {
  @include vp-1199 {
    display: none;
  }
}

.about__media {
  position: relative;
  flex: 1 0 660px;

  @include vp-1199 {
    flex: auto;
  }
}

.about__image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include vp-1199 {
    width: auto;
  }

  @include vp-767 {
    max-height: 345px;
    margin-bottom: 40px;
  }

  &::before {
    display: block;
    padding-top: 60.76%;

    content: "";

    @include vp-1199 {
      padding-top: 50.88%;
    }

    @include vp-767 {
      padding-top: 97.81%;
    }
  }
}

.about__image img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about__video {
  position: absolute;
  bottom: 0;
  left: -63px;
  transform: translate3d(0, 50%, 0);

  width: 364px;

  @include vp-1199 {
    left: 50%;
    transform: translate3d(-50%, 50%, 0);
    width: 39.23%;
  }

  @include vp-767 {
    position: relative;
    transform: none;
    left: 0;
    width: 100%;
  }

  &::before {
    display: block;
    padding-top: 62.63%;

    content: "";

    @include vp-767 {
      padding-top: 52.19%;
    }
  }
}

.about__video video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about__video-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);

  width: 104px;
  height: 104px;
  padding: 14px;

  border: 2px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;

  &::before {
    display: block;
    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-image: $gradient-play-button;
    transition: transform $trans-ease-out;

    content: "";
  }

  &::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 17px;
    height: 17px;
    transform: translate3d(-50%, -50%, 0);

    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7.5L0.249999 14.8612L0.25 0.138783L13 7.5Z' fill='white'/%3E%3C/svg%3E");
    background-size: 13px 15px;
    background-repeat: no-repeat;
    background-position: right center;

    content: "";

    @include vp-1199 {
      width: 12px;
      height: 12px;
      background-size: 9px 12px;
    }
  }

  @include vp-1199 {
    width: 77px;
    height: 77px;
    padding: 10px;
  }

  @include hover-focus {
    &::before {
      transform: scale(1.2);
    }

    & circle {
      stroke-opacity: 1;
    }
  }

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.9;
  }
}

.about__video-button svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.about__video-button circle {
  transition: stroke-opacity $trans-default;
  stroke-opacity: 0.2;
}

.about__video-button.is-hidden {
  display: none;
}
