.main-index {
  overflow: hidden;
}

.main-index__columns {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.main-index__column {
  flex: 1 1 50%;

  display: flex;

  @include vp-1199 {
    flex: 1 1 100%;
  }
}
