.main-footer {
  background-color: $color-black-russian;
  color: $color-default-white;
}

.main-footer__inner {
  display: flex;
  justify-content: center;

  padding-top: 41px;
  padding-bottom: 40px;

  @include vp-1199 {
    padding-top: 45px;
    padding-bottom: 45px;
    column-gap: 30px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 46px;
    padding-bottom: 50px;
  }
}

.main-footer__logo-link {
  flex: 0 0 auto;
  padding-left: 2px;
  margin-right: 20px;
  padding-top: 10px;

  @include vp-1199 {
    padding-left: 0;
    padding-top: 0;
    margin-right: 25px;
  }

  @include vp-767 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-right: 0;
  }
}

.main-footer__logo-link svg {
  width: 86px;
  height: 21px;

  @include vp-1199 {
    width: 81px;
    height: 19px;
  }

  @include vp-767 {
    width: 67px;
    height: 15px;
  }
}

.main-footer__nav-list {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  list-style-type: none;

  padding-left: 120px;

  @include vp-767 {
    position: static;

    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // align-items: center;
    // flex-direction: column;
    // align-items: flex-start;

    display: block;
    column-count: 2;
    column-gap: 76px;
    // grid-auto-flow: column;
    // grid-template-rows: repeat(3, 1fr);
    // grid-template-columns: 1fr 1fr;

    // gap: 16px 76px;
    margin-bottom: 1px;
    padding-left: 0;
  }
}

.main-footer__nav-logo {
  position: absolute;
  top: -2px;
  left: 0;

  @include vp-1199 {
    top: 2px;
  }

  @include vp-767 {
    position: static;
    margin-top: 5px;
    margin-bottom: 19px;
  }
}

.main-footer__nav-item {
  margin-right: 40px;

  @include vp-1199 {
    margin-right: 30px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.main-footer__nav-link {
  padding: 5px 0;

  color: inherit;
  font-size: 14px;
  line-height: 16px;

  transition: opacity $trans-default;

  @include vp-767 {
    font-size: 16px;
    line-height: 19px;
  }

  @include hover {
    opacity: 0.7;
  }

  @include focus {
    outline: 2px solid $color-default-white;
    outline-offset: 2px;
  }

  &:active {
    transition: none;
    opacity: 0.4;
  }
}

.main-footer__social {
  flex: 0 0 97px;
  margin-left: -19px;

  @include vp-1199 {
    flex: 0 0 97px;
    margin-left: -36px;
  }

  @include vp-767 {
    flex: auto;
    margin-left: 0;
    margin-top: 16px;
  }
}
