// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-ghost-white:                 #f8f9fc;
$color-whisper:                     #e8e8e8;
$color-spindle:                     #b6bdcc;
$color-dark-gray:                   #afafaf;
$color-grey:                        #787878;
$color-light-slate-grey:            #74819c;
$color-chambray:                    #495a7d;
$color-torch-red:                   #ed0233;
$color-crimson:                     #d10a42;
$color-persian-blue:                #2e35ac;
$color-egyptian-blue:               #103aae;
$color-resolution-blue:             #1c3374;
$color-sapphire:                    #102654;
$color-black-russian:               #030a1a;

// Gradient
$gradient-intro:                    conic-gradient(from 130.31deg at 16.03% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
$gradient-border:                   linear-gradient(148.82deg, #D10A42 0.85%, #00359F 100%);
$gradient-button:                   linear-gradient(97.05deg, #ED0233 17.6%, #003EB7 95.31%);
$gradient-play-button:              linear-gradient(44.89deg, #003D85 25.38%, #B80027 74.89%);
$gradient-text:                     linear-gradient(127.61deg, #D10A42 0%, #0041CA 45.58%);


// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                             "Rouble", "Arial", sans-serif;

$ff-roboto-condensed:                   "Roboto Condensed", "Arial", sans-serif;
$ff-alumni-sans:                        "Alumni Sans", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$tf-ease-out:                       ease-out;
$trans-default:                     0.3s $tf-default;
$trans-ease-out:                    0.3s $tf-ease-out;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;
$trans-ease-out-500:                0.5s $tf-ease-out;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1200:                           1200px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       2dppx;
